{%  load static %}

<audio
    id="audio-file"
{#    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/33378/soundcloud-austin-stephens-Auto_Tuned_Native_American_Flute.mp3"#}
    src="{% static  'audio/austin_stephens-auto-tuned-native-american-Flute.mp3' %}"
>

</audio>
<div id="container">
  <div id="example">
    <svg id="track" height="200" width="200" viewBox="0 0 200 200">
     <circle id="text1" cx="100" cy="100" r="90"/>
    </svg>

  </div>

  <div id="instructions">

    <button id="run-button">Play / Pause</button>

    <ul>
      <li>dashed lines = svg container</li>
      <li>Music is my own, feel free to download and use it as you see fit. Get it on SoundCloud <a href="https://soundcloud.com/austin_stephens/auto-tuned-native-american">here</a>.</li>
    </ul>

  </div>

<br>
<br>

</div>