{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/snap.svg.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>

<body>
    <span width="50%">
        <h2 title="Ellies page of dog details">Dog stuff</h2>
    </span>
    <div
        id="content"
        width=50%"
    >
        {% block content %}

        {% endblock content %}
    </div>
    <div id="graphic">
        {%  block graphic %}

        {% endblock graphic %}
    </div>
</body>

</html>