{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/snap.svg.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen" />
</head>

<body>
    <div>
        <h2 title="Ellies page of dog details">Dog stuff</h2>
    </div>
    <div>
        {% block content %}

        {% endblock content %}
    </div>
    <div id="graphic">
        {% block graphic %}
                GRAPHIC
        {% endblock graphic %}
    </div>
</body>

</html>