{% extends "base.html" %}
{% load static %}
{% block title %}{{ dog.name }}{% endblock %}

{% block midi %}
{% endblock midi %}

{% block content %}
    <h1>{{ dog.name }}</h1>
{% endblock content %}

{% block graphic %}
    <div style="border: thin solid black">
        <svg
            id="svg2"
            viewBox="0 0 100 100"
            height="200"
            width="200"
        >
            <image x="0" y="0" height="60" width="60"  xlink:href="{% static 'svg/akai-svg-image-2.svg' %}" />
        </svg>
    </div>

    <div style="border: thin solid black">
        <svg id="svg" viewBox="0 0 620 300">
        </svg>
    </div>

{% endblock graphic %}
