{% extends "base.html" %}
{% load static %}
{% block title %}Some Dogs{% endblock %}

{% block content %}
    <div
        width="50%"
        style="border: thin solid black"
    >
        <table width ="50%">
            <tr>
                <th>Dog</th>
            </tr>
            {% for dog in dog_list  %}
            <tr>
                <td> <a href="{% url 'detail' dog.id %}">{{ dog.name }}</a></td>
            </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}



