{% extends "base.html" %}
{% load static %}
{% block title %}Some Dogs{% endblock %}

{% block content %}
    <div
        width="50%"
        style="border: thin solid black"
    >
        <table width ="50%">
            <tr>
                <th>Dog</th>
            </tr>
            {% for dog in dog_list  %}
            <tr>
                <td> <a href="{% url 'detail' dog.id %}">{{ dog.name }}</a></td>
            </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}


{% block graphic %}
    <div style="border: thin solid black">
        <svg
            id="svg2"
            viewBox="0 0 100 100"
            height="200"
            width="200"
        >
            <image x="0" y="0" height="60" width="60"  xlink:href="{% static 'svg/akai-svg-image-2.svg' %}" />
        </svg>
    </div>

    <div style="border: thin solid black">
        <svg id="svg" viewBox="0 0 620 300">
        </svg>
    </div>

{% endblock graphic %}
